/* Benefits Section */
.benefits-section {
  padding: 3rem 1.5rem;
  background-color: #f9f9f9; /* Light background for the whole section */
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .benefits-section {
    padding: 5rem 3rem;
  }
}

@media (min-width: 1024px) {
  .benefits-section {
    padding: 5rem 5rem;
  }
}

.benefits-container {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.benefits-layout {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 1524px) {
  .benefits-layout {
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
  }
}

/* Left Column */
.benefits-intro {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.benefits-intro .btn-primary {
  display: none;
}

.decoration-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #E0F2FE;
}

.decoration-icon svg {
  width: 6rem;
  height: 6rem;
}

@media (min-width: 1024px) {
  .benefits-intro {
    flex: 0 0 28%; /* Approx 1/3 width */
    position: sticky;
    top: 0rem;
    align-items: flex-start;
    text-align: left;
    align-self: flex-end;
  }

  .benefits-intro .btn-primary {
    display: inline-flex;
    margin-bottom: 4rem;
  }

  .decoration-icon {
    display: block;
    margin-bottom: 7rem;
  }

  .decoration-icon svg {
    width: 12rem;
    height: 12rem;
  }

  .benefits-title {
    font-size: 2.75rem;
  }
}

.benefits-title {
  color: var(--color-primary);
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 4rem;
  line-height: 1.4;
  text-transform: uppercase;
}

.benefits-desc {
  color: var(--color-text-light);
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 4rem;
  margin-top: 0;
}

/* Right Column - Grid */
.benefits-grid {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1524px) {
  .benefits-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Cards */
.benefit-card {
  background-color: var(--color-background);
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (min-width: 768px) {
  .benefit-card {
    border-radius: 2.5rem;
    padding: 2.5rem;
    gap: 2rem;
  }
}

.benefit-card:hover {
  transform: translateY(-0.3125rem);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.benefit-card.blue-card {
  background-color: #BAE9F266;
}

/* Card Header */
.card-header {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
}

.card-icon {
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon svg {
  width: 3rem;
  height: 3rem;
  stroke-width: 1.5;
}

.benefit-card.blue-card .card-icon {
  color: var(--color-primary);
}

.benefit-card h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-primary);
  margin: 0;
  line-height: 1.8;
}

/* List Styling */
.benefit-card ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.benefit-card ul li {
  position: relative;
  padding-left: 1rem;
  font-size: 1rem;
  color: var(--color-text-light); /* Gray text */
  font-weight: 400;
  line-height: 1.6;
}

@media (min-width: 768px) {
  .benefit-card ul li {
    font-size: 1.25rem;
    line-height: 1.8;
  }

  .benefit-card h3 {
    font-size: 21px;
  }
}

.benefit-card ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--color-text-light);
  font-weight: bold;
}
