.life-at-eco {
  padding: 3rem 2rem 3rem 2rem;
  background: #fff;
}

@media (max-width: 768px) {
  .life-at-eco {
    padding: 1rem 1.5rem;
  }
}

.life-container {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.life-header {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 4rem auto;
}

.life-header h2 {
  font-size: 3.75rem;
  color: #2A6CE0;
  font-weight: 600;
  margin-bottom: 1rem;
  line-height: 1.4;
  text-transform: uppercase;
  margin-top: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  color: #212121;
  opacity: 0.5;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .life-header h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .life-header {
    margin-bottom: 2rem;
  }
}

.life-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .life-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  text-align: center;
  padding: 2rem;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.icon-box {
  margin: 0 auto 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 12.5rem;
  height: 12.5rem;
}

.icon {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card h3 {
  font-size: 2.25rem;
  color: #2A6CE0;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.card p {
  font-size: 1.125rem;
  color: #212121;
  opacity: 0.5;
  line-height: 1.8;
  text-align: left;
  font-weight: 400;
}

@media (max-width: 768px) {
  .card {
    padding: 0;
  }

  .card h3 {
    font-size: 1.25rem; /* 20px */
    margin-bottom: 0.5rem;
  }

  .card p {
    font-size: 0.875rem; /* 14px */
    text-align: center;
  }

  .icon-box {
    max-width: 15rem; /* ~240px */
    height: 15rem;
    margin-bottom: 1rem;
  }
}
