---
import "../styles/header.css";
---

<header class="header">
  <div class="container header-container">
    <div class="logo">
      <svg
        width="61"
        height="60"
        viewBox="0 0 61 60"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          opacity="0.9"
          d="M7.58519 25.6322C6.57274 23.1392 4.68233 17.4934 4.57752 14.8717C4.54391 14.0057 4.5004 13.8808 5.40804 13.643C9.69905 12.5253 20.3238 10.9004 47.5153 10.7716C47.6794 10.7914 49.6233 10.613 49.9159 10.9658C50.1275 11.2214 49.8645 11.8357 49.7103 12.4203C46.4653 24.6473 42.2119 32.6553 42.2119 32.6553C42.2119 32.6553 46.7738 25.7194 51.0253 16.7879C52.1069 14.515 55.2807 8.02693 55.2569 7.16688C55.249 6.86566 55.3084 6.61399 53.2499 6.02543C46.6116 4.125 24.0532 -1.34444 0.290467 12.1647C-0.116882 12.3965 0.0175829 12.7433 0.0353797 12.8048C5.14109 31.6783 14.8858 39.2384 14.5042 38.6657C13.905 37.77 10.3417 32.4254 7.58519 25.6302V25.6322Z"
          fill="#2A6CE0"></path>
        <path
          opacity="0.9"
          d="M54.3252 34.3218C53.8506 35.2889 51.015 41.0556 46.5203 46.8441C44.8711 48.9685 40.938 53.4332 38.7253 54.8342C37.9956 55.296 37.9066 55.397 37.2482 54.7272C34.1357 51.5625 27.4204 43.1522 13.7109 19.6198C13.6476 19.4672 12.5205 17.8699 12.6787 17.4399C12.7934 17.1268 13.4558 17.0495 14.0391 16.891C26.226 13.5935 35.2747 13.2803 35.2747 13.2803C35.2747 13.2803 26.9992 12.7909 17.1556 13.5657C14.6502 13.7619 7.45628 14.2534 6.72464 14.7032C6.46955 14.8597 6.22237 14.9351 6.74243 17.0158C8.42127 23.7278 14.9745 46.0395 38.5315 59.9073C38.9349 60.1451 39.1682 59.8558 39.2137 59.8083C52.9687 45.9405 54.6297 33.7016 54.3252 34.3199V34.3218Z"
          fill="#2A6CE0"></path>
        <path
          opacity="0.9"
          d="M60.2577 2.32563C41.399 -2.69199 29.9893 1.97883 30.6755 1.93325C31.7472 1.86191 38.1501 1.44576 45.3994 2.45444C48.061 2.82501 53.8825 4.01006 56.2001 5.23276C56.9653 5.63504 57.0958 5.66278 56.8447 6.56841C55.6622 10.8508 51.7469 20.8821 38.249 44.5374C38.1482 44.6702 37.3315 46.4458 36.8787 46.5231C36.5504 46.5786 36.151 46.0435 35.7258 45.6155C26.7879 36.6801 21.9985 28.9812 21.9985 28.9812C21.9985 28.9812 25.7062 36.4106 31.2924 44.5711C32.7142 46.6479 36.7303 52.6485 37.4857 53.0587C37.7487 53.2014 37.9386 53.3797 39.477 51.8895C44.4423 47.0799 60.4575 30.2475 60.6829 2.87059C60.6868 2.40093 60.319 2.34544 60.2577 2.32761V2.32563Z"
          fill="#2A6CE0"></path>
      </svg>
      <span class="logo-text">EPM Gen 2.0</span>
    </div>

    <nav class="nav">
      <a href="#life-at-eco">Life at Eco</a>
      <a href="#benefits">Giá trị nhận được</a>
      <a href="#roadmap">Lộ trình tuyển dụng</a>
      <a href="#about">Về chúng tôi</a>
    </nav>

    <a href="#apply" class="btn-primary">Ứng tuyển ngay</a>
  </div>
</header>
