---
import "../styles/ideal-candidate.css";
---

<section class="ideal-candidate-section">
  <!-- Background Decorations -->
  <div class="bg-decoration bg-left">
    <svg
      width="256"
      height="248"
      viewBox="0 0 256 248"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        opacity="0.5"
        d="M71.4304 -7.18506e-05C99.4853 4.91042 173.31 24.7006 255.906 65.847L245.059 110.193C178.157 109.014 120.281 124.446 79.6547 140.417C129.8 155.617 192.348 179.329 238.121 206.959L213.933 247.03C151.123 209.116 50.0255 178.011 8.67729 170.565L7.49415e-05 127.957C22.6703 113.104 77.3497 85.3106 150.745 71.5195C109.855 56.5903 77.8372 48.6377 63.3608 46.1039L71.4304 -7.18506e-05Z"
        fill="#BAE9F2"></path>
    </svg>
  </div>
  <div class="bg-decoration bg-right">
    <svg
      width="251"
      height="256"
      viewBox="0 0 251 256"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        opacity="0.5"
        d="M251 115.133H172.588L240.493 75.1462L227.878 52.8538L159.967 92.8461L199.179 23.5827L177.321 10.7162L138.115 79.9795V0H112.885V79.9795L73.6785 10.7162L51.8215 23.5827L91.0327 92.8461L23.1221 52.8538L10.5069 75.1462L78.4174 115.133H0V140.867H78.4174L10.5069 180.854L23.1221 203.146L91.0327 163.154L51.8215 232.417L73.6785 245.284L112.885 176.026V256H138.115V176.026L177.321 245.284L199.179 232.417L159.967 163.154L227.878 203.146L240.493 180.854L172.588 140.867H251V115.133Z"
        fill="#BAE9F2"></path>
    </svg>
  </div>

  <div class="candidate-container">
    <div class="candidate-header">
      <h2 class="candidate-title">BẠN CÓ PHẢI LÀ MẢNH GHÉP</h2>
      <div class="title-arrow">
        <svg
          width="84"
          height="56"
          viewBox="0 0 64 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M57.5 16.8284V22.8284L0 23.8284V15.8284L57.5 16.8284Z"
            fill="#2A6CE0"></path>
          <path
            d="M63.5978 19.799L43.7988 39.598L38.142 33.9411L57.4998 19.799L38.142 5.65685L43.7988 0L63.5978 19.799Z"
            fill="#2A6CE0"></path>
        </svg>
      </div>
      <h2 class="candidate-title">EPM GEN 2.0?</h2>
    </div>

    <div class="candidate-grid">
      <!-- Left Column -->
      <div class="column left">
        <!-- Card 1: Nền tảng -->
        <div class="candidate-card card-1">
          <div class="card-icon-box">
            <!-- Icon: Person/User -->
            <svg
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.9351 32.9717C38.9316 33.6816 42.4328 35.1571 46.4185 37.8682L47.3237 38.5C48.2528 39.1664 48.9155 40.1334 49.1948 41.2246L49.1978 41.2363C49.6451 42.9308 50.2864 45.8613 50.7847 50.1348L50.812 50.3662C50.8736 50.8935 50.5706 51.4064 50.1011 51.6143L50.0054 51.6514C47.5935 52.4536 42.0886 53.5 29.9985 53.5C17.8967 53.5 12.3917 52.4512 9.98779 51.6504C9.46183 51.4683 9.1184 50.9255 9.18408 50.3652L9.18506 50.3613C9.68682 45.9676 10.3448 42.9609 10.8013 41.2275L10.8042 41.2178C11.0817 40.1344 11.7433 39.1664 12.6733 38.5C17.0292 35.3835 20.9138 33.7349 23.061 32.9717C25.1219 34.2847 27.4824 35.0702 29.9985 35.0703C32.5143 35.0703 34.8744 34.2842 36.9351 32.9717Z"
                stroke="white"
                stroke-width="3"></path>
              <path
                d="M29.9995 5.49902C35.6797 5.49902 40.1067 10.1111 40.1069 16.5518C40.1069 19.9937 38.8726 23.2186 36.9595 25.5645C35.0408 27.917 32.5343 29.2861 29.9995 29.2861C27.4647 29.2861 24.9582 27.9171 23.0396 25.5645C21.1264 23.2186 19.8921 19.9937 19.8921 16.5518C19.8923 10.1112 24.3194 5.49911 29.9995 5.49902Z"
                stroke="white"
                stroke-width="3"></path>
            </svg>
          </div>
          <h3>Nền tảng</h3>
          <p>
            Lập trình di động/ Kinh doanh/ Marketing hoặc đã từng tham gia vào
            các dự án, sản phẩm số
          </p>
        </div>

        <!-- Card 2: Tư duy -->
        <div class="candidate-card card-2">
          <div class="card-icon-box">
            <!-- Icon: Lightbulb/Idea -->
            <svg
              width="64"
              height="64"
              viewBox="0 0 64 64"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M36.0351 60.0003H27.2983C25.2597 60.0003 22.9299 58.253 22.9299 54.7582V48.6424C22.9299 45.7301 21.4737 43.1091 19.1439 41.0705C13.9018 36.9933 11.2808 31.1687 11.2808 24.7617C11.572 13.6951 20.6001 4.95822 31.3755 4.66699C36.9088 4.66699 42.1509 6.70559 45.9369 10.4916C49.7229 14.2775 52.0527 19.5196 52.0527 25.053C52.0527 31.1687 49.4316 36.9933 44.4808 40.7793C41.8597 42.8179 40.4036 46.0214 40.4036 48.9337V55.6319C40.4036 57.9617 38.365 60.0003 36.0351 60.0003ZM31.6667 7.57927C22.3474 7.57927 14.4843 15.4424 14.193 24.7617C14.193 30.2951 16.5229 35.5372 20.8913 38.7407C24.0948 41.3617 25.8422 44.8565 25.8422 48.6424V54.7582C25.8422 55.3407 25.8422 57.088 27.2983 57.088H36.0351C36.9088 57.088 37.4913 56.5056 37.4913 55.6319V48.9337C37.4913 45.1477 39.5299 41.0705 42.7334 38.4494C46.8106 35.2459 49.1404 30.2951 49.1404 25.053C49.1404 20.3933 47.393 16.0249 43.8983 12.5301C40.6948 9.32664 36.3264 7.57927 31.6667 7.57927Z"
                fill="white"></path>
              <path
                d="M38.9472 51.2634H24.3858C23.5121 51.2634 22.9297 50.6809 22.9297 49.8072C22.9297 48.9335 23.5121 48.3511 24.3858 48.3511H38.9472C39.8209 48.3511 40.4034 48.9335 40.4034 49.8072C40.4034 50.6809 39.8209 51.2634 38.9472 51.2634Z"
                fill="white"></path>
              <path
                d="M43.3155 26.5087C42.4418 26.5087 41.8593 25.9262 41.8593 25.0525C41.8593 19.5192 37.1997 14.8595 31.6663 14.8595C30.7927 14.8595 30.2102 14.2771 30.2102 13.4034C30.2102 12.5297 30.7927 11.9473 31.6663 11.9473C38.947 11.9473 44.7716 17.7718 44.7716 25.0525C44.7716 25.9262 44.1892 26.5087 43.3155 26.5087Z"
                fill="white"></path>
            </svg>
          </div>
          <h3>Tư duy</h3>
          <p>
            Phân tích tốt, chủ động cải tiến và có trách nhiệm trong công việc
          </p>
        </div>
      </div>

      <!-- Center Column: Image -->
      <div class="column center">
        <!-- Placeholder for Person Image -->
        <!-- Using a placeholder or potentially one of the images the user has.
              The user has 'hero-team.png', 'photo_1.png'...
              I'll use a direct img tag with a placeholder path for now, asking user to replace.
         -->
        <img
          src="/images/ideal/duc.png"
          alt="Candidate Portrait"
          class="candidate-image"
        />
      </div>

      <!-- Right Column -->
      <div class="column right">
        <!-- Card 3: Kinh nghiệm thực chiến -->
        <div class="candidate-card card-3">
          <div class="card-icon-box">
            <!-- Icon: Briefcase -->
            <svg
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M34.1053 32.1934L53.7857 28.1166C55.0752 27.8495 56 26.7135 56 25.3966V16.9711C56 15.437 54.7563 14.1934 53.2222 14.1934H6.77777C5.24365 14.1934 4 15.437 4 16.9711V25.3966C4 26.7135 4.92475 27.8495 6.21433 28.1166L25.8947 32.1934"
                stroke="white"
                stroke-width="3"></path>
              <path
                d="M5 28.1934V48.4156C5 49.9497 6.24365 51.1934 7.77777 51.1934H52.2222C53.7563 51.1934 55 49.9497 55 48.4156V28.1934"
                stroke="white"
                stroke-width="3"></path>
              <path
                d="M23.0554 13.9434V11.1656C23.0554 9.63147 24.2991 8.38782 25.8332 8.38782H34.1665C35.7006 8.38782 36.9443 9.63147 36.9443 11.1656V13.9434"
                stroke="white"
                stroke-width="3"></path>
              <rect
                x="25.8333"
                y="29.2212"
                width="8.33331"
                height="8.33331"
                rx="1.38889"
                stroke="white"
                stroke-width="3"></rect>
            </svg>
          </div>
          <h3>Kinh nghiệm thực chiến</h3>
          <p>
            Từng xây dựng, vận hành hoặc tối ưu sản phẩm/ dự án online dựa trên
            dữ liệu và hiểu người dùng
          </p>
        </div>

        <!-- Card 4: Định hướng -->
        <div class="candidate-card card-4">
          <div class="card-icon-box">
            <!-- Icon: Target -->
            <svg
              width="64"
              height="64"
              viewBox="0 0 64 64"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M37.6346 8.69782C35.4096 8.06769 33.0616 7.73047 30.6348 7.73047C16.4771 7.73047 5 19.2076 5 33.3653C5 47.523 16.4771 59.0001 30.6348 59.0001C44.7925 59.0001 56.2696 47.523 56.2696 33.3653C56.2696 30.9385 55.9324 28.5905 55.3023 26.3655"
                stroke="white"
                stroke-width="3"
                stroke-linecap="round"></path>
              <path
                d="M42.6674 33.3652C42.6674 40.0106 37.2802 45.3978 30.6347 45.3978C23.9893 45.3978 18.6021 40.0106 18.6021 33.3652C18.6021 26.7197 23.9893 21.3325 30.6347 21.3325"
                stroke="white"
                stroke-width="3"
                stroke-linecap="round"></path>
              <line
                x1="29.4463"
                y1="34.1043"
                x2="42.1221"
                y2="21.4284"
                stroke="white"
                stroke-width="3"
                stroke-linecap="round"></line>
              <path
                d="M50.2806 22.1479L41.3044 22.1472V13.1717L50.1957 4.28037L51.9013 9.88751C52.1439 10.6846 52.7677 11.3083 53.5648 11.551L59.1719 13.2566L50.2806 22.1479Z"
                stroke="white"
                stroke-width="3"
                stroke-linecap="round"></path>
            </svg>
          </div>
          <h3>Định hướng</h3>
          <p>
            Có mong muốn tham gia sâu vào việc xây dựng, tối ưu sản phẩm, phát
            triển sự nghiệp theo hướng Product bền vững
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
