---
import "../styles/recruitment-roadmap.css";
---

<section class="recruitment-roadmap">
  <div class="roadmap-container">
    <h2 class="roadmap-title">LỘ TRÌNH TUYỂN DỤNG</h2>

    <!-- Desktop: SVG Road Animation -->
    <div class="desktop-roadmap">
      <svg
        width="1920"
        height="983"
        viewBox="0 0 1920 983"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="road-svg">
        <path
          d="M1990.42 51.959L1737.9 347.582C1657.53 441.669 1516.2 453.03 1421.83 372.99L1419.21 370.768C1371.44 330.251 1301.96 326.589 1249.8 361.789C1216.42 384.318 1194.34 420.409 1189.62 460.247C1179 549.846 1114.32 623.666 1026.9 645.979L1020.25 647.678C935.635 669.274 846.399 637.159 794.951 566.598C760.691 519.609 699.953 500.207 644.797 518.633L639.292 520.472C590.426 536.796 554.304 578.404 545.005 629.078L542.854 640.799C532.604 696.656 500.503 746.12 453.665 778.232C397.546 816.708 326.437 826.103 262.251 803.522L260.007 802.732C214.191 786.615 163.276 795.767 125.941 826.831L-186.416 1086.73L-237.584 1025.23L74.7725 765.334C133.75 716.262 214.181 701.805 286.556 727.267L288.8 728.056C328.914 742.168 373.355 736.296 408.428 712.25C437.7 692.181 457.762 661.267 464.168 626.358L466.319 614.638C480.879 535.297 537.435 470.153 613.943 444.594L619.448 442.755C707.66 413.286 804.801 444.316 859.594 519.466C891.762 563.586 947.558 583.665 1000.46 570.162L1007.12 568.465C1062.49 554.333 1103.45 507.579 1110.17 450.832C1117.65 387.733 1152.51 330.939 1205.05 295.479C1286.69 240.379 1395.63 245.865 1470.96 309.758L1473.58 311.98C1534.33 363.511 1625.32 356.197 1677.07 295.622L1929.58 0L1990.42 51.959Z"
          fill="#2A6CE0"></path>
      </svg>
    </div>

    <!-- Mobile Vertical Timeline -->
    <div class="mobile-roadmap"></div>
  </div>
</section>
